app/controllers/*
app/models/*
app/views/*
app/helpers/*
config/*
lib/active_record.class.php
lib/mysql.class.php
app/assets/*
public/vendor/*
public/css/*
public/js/*
public/img/*
public/uploads/*
